<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
    <h1 class="display-3 text-center">Burgers!</h1>
    <img class="text-center" src="../public/assets/img/burger.png">
    <p class="lead">Add a burger, then eat it. It's pretty straightforward.</p>
  </div>
  <div class="row" id="burgersRow">
    <div class="col-md-6" id="added-burgers"></div>
    <div class="col-md-6" id="eaten-burgers"></div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <input type="text" class="form-control" id="add-burger-text"></input>
      <button id="add-burger-submit" class="btn btn-info">Add A Burger</div>
    </div>
  </div>

</div>

</body>
</html>